header{
    margin: 12px;
 }
 
 .logo{
     margin-left: 38%;
     margin-top: 10px;
     width: 25%;
     height: 30%;
 }
 .formulario{
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .info{
     background-color: blue;
 }
 #mapid { z-index:-1; position:absolute; width:100%;height:100%; margin:0; padding:0; 
           
           height: 700px;
        
 }
 
 .menu {
     margin-top: 0px;
     margin-left: 0px;
     width: 2.5rem;
     height: 3.4rem;
     background:tomato;
     border-radius: 0.7rem;
     position: absolute;
     font-family: sans-serif;
     font-size: 2rem;
     color:black;
     top : 45%;
     text-align: center;
     transition: left 0.7s;
 }
 
 .checkbox:checked ~ .menu {
     left: 42.5%;
     border-radius: 0 0.5rem 0.5rem 0;
 }
 
 
 .panel-lateral {
    height: 700px;
    width: 42.5%;
    
    /*safari*/
   opacity: 0.85;
   background-color: white;
    
    
    position: absolute;
    top: 0;
    left: -42.5%;
    display: flex;
    transition: left 0.4s;
 }
 .checkbox:checked ~ .panel-lateral {
     left: 0;
 }
 .checkbox {
     display: none;
     
 }
 .responsive {
     padding-left: 30px;
     width: 100%;
     max-width: 90%;
     height: auto;
 }
 .texto{
     padding-top: 50px;
     width: 100%;
     max-width: 90%;
 }

 .con_host{
     height: 90%;
     width: 100%;
     max-width: 90%;
 }