<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/leaflet-search.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
    <title>SantiagoChile</title>
</head>
<body>
    {% csrf_token %}  
  
    <input type="checkbox" class="checkbox" id="check">
    <label for="check" class="menu">></label>
       

  <div class=" panel-lateral   row"  >
          <div class=" container titulo" >
                                                        
              <img class = "img logo" src="img/MAPMEDCHILE.jpg" alt=""> 
                                                                                                  
               <nav class="nav  justify-content-center  "  >
                    <form class="form-inline  "   >
                         <input  class="form-control "  id="textsearch" type="text" placeholder="Search" aria-label="Search">
                         <button class="btn btn-outline"><i class="fa fa-search"></i></button>
                     </form>
                </nav>  
            </div>
                                             
            <div class="container con_host" >
                <img class="responsive" id="imgHosp" src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVbBMS3CUzaLKQc_NZ6JC7cEzF7qa71V6nAJ1mGK4a_A-9X5tW" alt="">
                 <div class="container  texto" > 
                    <a id="nombreHosp">Nombre Del Hospital</a>   <br>
                    <a id="DescpHosp">Una Breve Descripcion del Hospital</a>  <br>
                   </div>
             </div> 
                                                
                                               
    </div>
               
                   
                   
      <div id="mapid"></div>
                    
                
           
        


    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script defer src="{% static 'fontawesome/js/all.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="{% static 'js/leaflet-search.src.js' %}"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>